@charset "utf-8";
@import "./_sys-setup";
@import "sasscore/_function";
html {
    height: 100%;
    
    font-family: $baseFontFamily;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 0 */
    -webkit-overflow-scrolling: touch;
    /* 0 */
}

body {
    @include baseHeightWidth;
    overflow: auto;
    color: $textColor;
    background: $bodyBgColor;
    margin: 0;
    /* 1 */
    font-size: $baseFontSize;
    /* 0 */
    line-height: $baseLineHeight;
    /* 0 */
    color: $textColor;
    /* 0 */
    background-color: $bodyBgColor;
    /* 0 */
}

a {
    text-decoration: none;
    color: $primary;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.opacity_0 {
    @include opacity(0);
}

.clearfixed {
    @include clearfix(false);
    zoom: 1;
    &:after {
        content: '';
        display: block;
        height: 0;
        font-size: 0;
        clear: both;
        overflow: hidden;
    }
}

/*文字多出部分省略号表示*/

.ellipsis {
    @include ellipsis(100%);
}

/*文字多出部分强制换行*/

.wrap {
    word-wrap: break-word;
}

/* ******
    对齐方式
****** */

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

/* ******
    placeholder 样式
****** */

//ie9 以下样式
.placeholder {
    position: absolute;
    top: 10px;
    left: 17px;
    padding-left: 12px;
    padding-top: 2px;
    color: $gray;
    font-size: 13px;
    font-weight: 300;
    cursor: text;
}

//其他浏览器样式
@if nth($placeholder, 1) {
    // Firefox 4-18
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: nth($placeholder, 2);
    } // Firefox 19+
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: nth($placeholder, 2);
    } // Internet Explorer 10+
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: nth($placeholder, 2);
    } // Safari and Chrome
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: nth($placeholder, 2);
    }
}
